/*
=====================================
Font styles for headers and p
=====================================
*/

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 3em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .8em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
/* 
====================================
Sets up styles for .sidebar-container 
====================================
*/

.sidebar-container {
    background-color: #3e3e3e;
    height: 100%;
    position: fixed;
    padding: 60px;
    width: 180px;
    margin-top: 0;
    color: white;
}

.sidebar-container a {
    font-size: 24px;
    color: white;
    margin-top: 15px;
}

.sidebar-container a:hover{
    color: #81bc11;
    text-decoration: underline;
}

.sidebar-logo {
    width: 200px;
}

nav {
    top: 0;
}
  
nav a,
nav h2 {
    display: block;
    position: relative;
    text-decoration: none;
}

/* 
====================================
Buttons
====================================
*/
button {
    border-style: none;
    border: 5px solid #81BC11;
    padding: 10px 15px;
    background: white;
    color: #81BC11;
    border-radius: 16px;
    font-family: 'Open Sans', sans-serif;
    
}

.button-normal {

}

.button-hover {
    border: 5px solid #3e3e3e;
    color: #3e3e3e;
}

.button-pressed {
    border: 5px solid #272727;
    color: #272727;
}

.button-loading {

}

.button-disable {
    border: 5px solid #CCCCCC;
    color: #CCCCCC;
}
/* 
====================================
Sets up styles for .content-container 
====================================
*/

/* Positions section container in relation to .sidebar-container */
.section-container {
  margin-left: 300px;
  padding: 30px 30px;
  height: 100%;
}

/* Sets max width for content and align content in middle of section-container */
.content-container {
   
}

/* Sets row behavior using flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.row-container-no-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.colorBox {
    height: 100px;
    width: 100px;
    background-color: grey;
}

.row-container-around {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

/* 
====================================
BONUS: Sets up styles for mobile breakpoint 
====================================
*/

/* Hides mobile navigation on desktop */
.mobile-nav {
   
}

/* Sets media query for screens below 450px wide */
@media only screen and (max-width: 450px) {

    /* Position nav at the top */
    nav {
       position: fixed;
       left: 0;
    }

    /* Shows Mobile Navigation Styles  */
    .mobile-nav {
       background: whtie;
       width: 100%;
       padding: 10px 30px;
       display: flex;
       justify-content: flex-start;
       align-content: center;
       height: 80px;
       margin: 0;
       box-shadow: 0 0 10px rgba(0,0,0,.4);
    }
    /* Sets max width for logos in mobile nav */
    .mobile-nav img {

    }

    /* Hides Sidebar on mobile */
    .sidebar-container {
       
    }
  
    /* Defines mobile container content */
    .section-container {
      
    }

    /* Sets Type Styles */
    h1 {
        
    }


    .row-container-no-wrap {
      
    }

    #Logo .section-logo {
       
    }


}

/* 
====================================
Sets up styles for .content-container 
====================================
*/

.color-grey {
    background-color: #3e3e3e;
    background: #3e3e3e;
}

.color-green {
    background-color: #81BC11;
    background: #81BC11;
}

.color-blue {
    background-color: #4E5CCE;
    background: #4E5CCE;
}

.color-lightGrey {
    background-color: #CCCCCC;
    background: #CCCCCC;
}

/* 
====================================
BONUS: Sets up css code snippet styles 
====================================
*/

pre {

}
